*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INIZIO GENERAL */
img{
    width: 100%;
}
/* FINE GENERAL */

/* INIZIO MACROAREE */
/* FINE MACROAREE */

/* INIZIO HEADER */
/* FINE HEADER */

/* INIZIO MAIN */
/* FINE MAIN */

/* INIZIO FOOTER */
/* FINE FOOTER */