<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Collega html e CSS -->
    <link rel="stylesheet" href="css/style.css">  
    <!-- Collega html e FONT-AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <!-- Serve ad utilizzare AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- Collega html e VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Titolo html -->
    <title>Document</title>
</head>
<body>
    
    <div id="root">



        <!-- INIZIO HEADER -->
        <header>
            <div class="container-header">

                <div class="title">
                    <h2>BOOLFLIX</h2>
                </div>
                <div class="search-bar">
                    <input 
                    type="text"
                    placeholder="Inserisci qui il tuo titolo"
                    v-model="userFilter"
                    @keyup.enter="filterFunction()"
                    >
                    <button @click="filterFunction()">Cerca</button>
                </div>
                
            </div>
        </header>
        <!-- FINE HEADER -->

        <!-- INIZIO MAIN -->
        <main>
            <div class="container-main">

                <div 
                v-for="film in films"
                id="single-film"
                >

                    <div class="fronte">
                        <!-- IMMAGINE DI COPERTINA -->
                        <img :src="'https://image.tmdb.org/t/p/w342' + film.poster_path " :alt="film.title"> 
                    </div>
                    
                
                    <div 
                    class="retro"
                    >
                
                        <!-- TITOLO -->
                        <div class="titolo-film"> 
                            <span class="caratteristica">Titolo: </span>{{ film.title }} 
                        </div>

                        <!-- TITOLO ORIGINALE -->
                        <div class="titolo_originale-film">
                            <span class="caratteristica">Titolo Originale: </span>{{ film.original_title }} 
                        </div>

                        <!-- VOTO trasformato in STELLE -->
                        <div 
                        class="voto-film"
                        > 
                            Voto: 
                            <i class="fas fa-star" v-for="star in film.vote_average"></i> 
                        </div>
                
                        <!-- OVERVIEW (Descrizione Film ) -->
                        <div class="descrizione-film">
                            Overview: {{ film.overview }}
                        </div>

                    </div>

                </div>
            
            </div>
        </main>
        <!-- FINE MAIN -->

        <!-- INIZIO FOOTER -->
        <!-- FINE FOOTER -->

    </div>


    <!-- Collega html a day.js per mettere le DATE -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <!-- Permette di usare JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Collega html a JAVASCRIPT -->
    <script type="text/javascript" src="js/script.js"></script>

</body>
</html>